* {
  box-sizing border-box
}

html, body {
  padding 0
  margin 0
  background-color #fafafa
  width 100%
  height 100%
  overflow hidden
  font-family "Roboto", Arial, sans-serif
}

body {
  display flex
  flex-direction column
  header {
    width 100%
    height 56px
    color #ffffff
    background-color #607D8B
    font-size 20px
    box-shadow 0 4px 5px rgba(0, 0, 0, .14), 0 2px 9px 1px rgba(0, 0, 0, .12), 0 4px 2px -2px rgba(0, 0, 0, .2)
    padding 16px 16px 0
    position relative
    z-index 1
    .header__title {
      font-weight 400
      font-size 20px
      margin 0
    }
  }
  .main {
    flex 1
    padding 16px
    overflow-x hidden
    overflow-y scroll
    position relative
    width 100%
    display flex
    justify-content space-around
    image {
      width 100%
      max-width 650px
      cursor zoom-in
    }
  }
  .zoomer {
    width 1px
    height 1px
    position fixed
    left 0
    top 0
    pointer-events none
    .zoomer__canvas {
      border 1px solid red
      position absolute
      left -64px
      top -134px
    }
  }
}